@{ ViewBag.Title = "Product"; }

<div class="container">
    <h1>@ViewBag.Title</h1>
    <a asp-area="admin" asp-action="add" asp-controller="product" class="btn btn-outline-success">Add product</a>
</div>