@using Namira.Areas.Admin.ViewModels
@model List<Namira.Entities.Category>

<div class="container">
    <h1>Category</h1>
    <a asp-area="admin" asp-action="Add" asp-controller="category" class="btn btn-outline-success">Add category</a>

    @await Html.PartialAsync("../PartialViews/DataOutput", new DataOutputViewModel { Data = Model, DataType = typeof(Namira.Entities.Category), Fields = new string[] { "Id", "Name", "MetaKeywords" } })
    
    @await Html.PartialAsync("../PartialViews/Pagination", ViewBag.Paginator as Paginator)
</div>