<div class="container">
    <h1>Index</h1>

    <div class="row padded">
        <a asp-area="admin" asp-controller="category" asp-action="index" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Category</div>
            </div>
        </a>

        <a asp-area="admin" asp-controller="brand" asp-action="index" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Brand</div>
            </div>
        </a>

        <a asp-area="Admin" asp-controller="country" asp-action="index" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Country</div>
            </div>
        </a>

        <a asp-area="Admin" asp-controller="Currency" asp-action="index" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Currency</div>
            </div>
        </a>
    </div>

    <div class="row padded">
        <a href="#" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
            </div>
        </a>

        <a href="#" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
            </div>
        </a>

        <a href="#" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
            </div>
        </a>

        <a href="#" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
            </div>
        </a>
    </div>
</div>